<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYVoiceToWordTextViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>202984A21DC1C4AA00E05C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>202984BB1DC1C4AB00E05C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>202984C61DC1C4AB00E05C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
